/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
public/trainee-image/.editorconfig
public/trainee-image/9oyU2j8OLrff6478839848236.jpg
public/trainee-image/StcDP0977UGH647883d28e128.jpg
